# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
# Your code here
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

In [2]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [3]:
# Convert to lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [4]:
# Rename 'st' to 'state'
df.rename(columns={'st': 'state'}, inplace=True)

In [5]:
# Check the updated column names
print("\nStandardized column names:")
print(df.columns)

Standardized column names:
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [6]:
print("\nFirst 5 rows of the dataframe with standardized columns:")
print(df.head())

First 5 rows of the dataframe with standardized columns:
  customer       state gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [7]:
# Your code here
# Standardize column names first
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns={'st': 'state'}, inplace=True)

In [8]:
# Check unique values for columns to clean
print("Unique values in gender:")
print(df['gender'].unique())

print("\nUnique values in state:")
print(df['state'].unique())

print("\nUnique values in education:")
print(df['education'].unique())

print("\nUnique values in customer_lifetime_value:")
print(df['customer_lifetime_value'].unique()[:10])  # show first 10 for brevity

print("\nUnique values in vehicle_class:")
print(df['vehicle_class'].unique())

Unique values in gender:
[nan 'F' 'M' 'Femal' 'Male' 'female']

Unique values in state:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Unique values in education:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Unique values in customer_lifetime_value:
[nan '697953.59%' '1288743.17%' '764586.18%' '536307.65%' '825629.78%'
 '538089.86%' '721610.03%' '2412750.40%' '738817.81%']

Unique values in vehicle_class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [9]:
df['gender'] = df['gender'].str.strip().str.upper()  # remove spaces, uppercase

df['gender'] = df['gender'].replace({
    'MALE': 'M',
    'M': 'M',
    'FEMALE': 'F',
    'F': 'F',
    'FEMAL': 'F'
})

In [10]:
state_map = {
    'AZ': 'Arizona',
    'CALI': 'California',
    'WA': 'Washington',
    # Add more as needed based on your dataset
}

df['state'] = df['state'].str.strip().str.upper()
df['state'] = df['state'].replace(state_map)

In [11]:
df['education'] = df['education'].str.strip().replace({
    'Bachelors': 'Bachelor',
    'Masters': 'Master',
    'PhD': 'PhD'
    # Adjust if other inconsistencies exist
})

In [12]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

In [13]:
df['vehicle_class'] = df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

In [14]:
print("Cleaned gender values:", df['gender'].unique())
print("Cleaned state values:", df['state'].unique())
print("Cleaned education values:", df['education'].unique())
print("Cleaned vehicle_class values:", df['vehicle_class'].unique())

Cleaned gender values: [nan 'F' 'M']
Cleaned state values: ['WASHINGTON' 'ARIZONA' 'NEVADA' 'CALIFORNIA' 'OREGON' 'California'
 'Arizona' 'Washington' nan]
Cleaned education values: ['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]
Cleaned vehicle_class values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [15]:
# Your code here

# Standardize column names
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns={'st': 'state'}, inplace=True)

In [16]:
# Check current data types
print("Current data types:")
print(df.dtypes)

Current data types:
customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [17]:
# Ensure customer_lifetime_value is numeric
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

# Verify
print("\nCustomer Lifetime Value data type:", df['customer_lifetime_value'].dtype)

Customer Lifetime Value data type: float64

In [18]:
# Inspect unique values first
print("\nSample unique values in number_of_open_complaints:")
print(df['number_of_open_complaints'].unique()[:10])  # show first 10 for brevity

# Extract the middle number
def extract_middle_number(value):
    parts = str(value).split('/')
    if len(parts) >= 2:
        return int(parts[1])
    else:
        return 0  # or np.nan if you prefer

df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(extract_middle_number)

# Verify
print("\nNumber of Open Complaints data type:", df['number_of_open_complaints'].dtype)
print(df['number_of_open_complaints'].head())

Sample unique values in number_of_open_complaints:
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

Number of Open Complaints data type: int64
0    0
1    0
2    0
3    0
4    0
Name: number_of_open_complaints, dtype: int64

In [19]:
print("\nUpdated data types:")
print(df.dtypes)

Updated data types:
customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [20]:
# Your code here

# Standardize column names
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns={'st': 'state'}, inplace=True)

# Check for null values
null_counts = df.isnull().sum()
print("Number of null values per column:")
print(null_counts[null_counts > 0])

Number of null values per column:
customer                   2937
state                      2937
gender                     3054
education                  2937
customer_lifetime_value    2940
income                     2937
monthly_premium_auto       2937
policy_type                2937
vehicle_class              2937
total_claim_amount         2937
dtype: int64

In [27]:
# Fill numerical columns with median
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)  # assign back instead of inplace

In [28]:
# Fill categorical columns with mode
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    mode_value = df[col].mode()[0]
    df[col] = df[col].fillna(mode_value)  # assign back instead of inplace

In [25]:
print("Null values after handling:")
print(df.isnull().sum().sum())  # Should print 0

Null values after handling:
0

In [26]:
for col in numeric_cols:
    df[col] = df[col].astype(int)

# Verify data types
print("\nData types after converting numeric variables to integers:")
print(df.dtypes)

Data types after converting numeric variables to integers:
customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [29]:
# Your code here
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

Number of duplicate rows: 2936

In [30]:
# Drop duplicate rows (keep the first occurrence)
df = df.drop_duplicates(keep='first')

In [31]:
# Reset index for consistency
df.reset_index(drop=True, inplace=True)

In [32]:
# Check for remaining duplicates
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows after cleaning: {num_duplicates}")

Number of duplicate rows after cleaning: 0

In [33]:
# Save to a new CSV file
df.to_csv("cleaned_dataset.csv", index=False)
print("Cleaned dataset saved as 'cleaned_dataset.csv'")

Cleaned dataset saved as 'cleaned_dataset.csv'

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [34]:
# data_cleaning.py

import pandas as pd

def load_data(url: str) -> pd.DataFrame:
    """Load dataset from a CSV URL or file path."""
    df = pd.read_csv(url)
    return df

def standardize_columns(df: pd.DataFrame) -> pd.DataFrame:
    """Standardize column names: lowercase, replace spaces with underscores, rename 'st' to 'state'."""
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df.rename(columns={'st': 'state'}, inplace=True)
    return df

def clean_inconsistent_values(df: pd.DataFrame) -> pd.DataFrame:
    """Clean inconsistent values in gender, state, education, customer_lifetime_value, vehicle_class."""
    # Gender
    df['gender'] = df['gender'].str.strip().str.upper()
    df['gender'] = df['gender'].replace({'MALE':'M','M':'M','FEMALE':'F','F':'F','FEMAL':'F'})
    
    # State
    state_map = {'AZ':'Arizona','CALI':'California','WA':'Washington'}
    df['state'] = df['state'].str.strip().str.upper()
    df['state'] = df['state'].replace(state_map)
    
    # Education
    df['education'] = df['education'].str.strip().replace({'Bachelors':'Bachelor'})
    
    # Customer Lifetime Value: remove '%' if present and convert to numeric
    df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str).str.replace('%','')
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
    
    # Vehicle class
    df['vehicle_class'] = df['vehicle_class'].replace({'Sports Car':'Luxury','Luxury SUV':'Luxury','Luxury Car':'Luxury'})
    
    return df

def correct_data_types(df: pd.DataFrame) -> pd.DataFrame:
    """Correct data types for numeric columns and number_of_open_complaints."""
    # Extract middle number from 'number_of_open_complaints' and convert to int
    def extract_middle_number(value):
        parts = str(value).split('/')
        if len(parts) >= 2:
            return int(parts[1])
        else:
            return 0
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(extract_middle_number)
    
    # Ensure customer_lifetime_value is float
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
    
    return df

def handle_null_values(df: pd.DataFrame) -> pd.DataFrame:
    """Fill null values: numeric with median, categorical with mode."""
    numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
    for col in numeric_cols:
        df[col] = df[col].fillna(df[col].median())
    
    categorical_cols = df.select_dtypes(include=['object']).columns
    for col in categorical_cols:
        df[col] = df[col].fillna(df[col].mode()[0])
    
    return df

def convert_numeric_to_int(df: pd.DataFrame) -> pd.DataFrame:
    """Convert all numeric columns to integers."""
    numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
    for col in numeric_cols:
        df[col] = df[col].astype(int)
    return df

def remove_duplicates(df: pd.DataFrame) -> pd.DataFrame:
    """Remove duplicate rows and reset index."""
    df = df.drop_duplicates(keep='first')
    df.reset_index(drop=True, inplace=True)
    return df

def save_cleaned_data(df: pd.DataFrame, filename: str):
    """Save cleaned dataframe to CSV."""
    df.to_csv(filename, index=False)
    print(f"Cleaned dataset saved as '{filename}'")

def main(url: str, output_file: str):
    """Main function to clean the dataset end-to-end."""
    df = load_data(url)
    df = standardize_columns(df)
    df = clean_inconsistent_values(df)
    df = correct_data_types(df)
    df = handle_null_values(df)
    df = convert_numeric_to_int(df)
    df = remove_duplicates(df)
    save_cleaned_data(df, output_file)
    return df

In [38]:
# Option 1: If you're in a Jupyter notebook, make sure IPython is properly installed
# Then run this cell separately first:
# %pip install ipython

# Option 2: Instead of using %%writefile magic, create the file programmatically:
with open('data_cleaning.py', 'w') as f:
    f.write('''def main(url, output_file):
    # Your data cleaning code here
    import pandas as pd
    df = pd.read_csv(url)
    # Clean the data
    df.to_csv(output_file, index=False)
    return df
''')

# If using Jupyter, enable autoreload to update module changes automatically
# Run these in separate cells if they cause errors
%load_ext autoreload
%autoreload 2

# Now import the module after creating the file
from data_cleaning import main

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
output_file = "cleaned_dataset.csv"

# Run the full cleaning pipeline
cleaned_df = main(url, output_file)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [41]:
# Your code here
# First, check if the DataFrame exists and has the correct column names

# Check available columns
print("Available columns:", cleaned_df.columns.tolist())

# After seeing the available columns in the output above,
# use the correct column names from the printed list
# The example below assumes the actual column names might be lowercase or have different formatting
# Adjust these based on what you see in the printed columns list
claim_column = 'total_claim_amount'  # Update this based on the printed column names
clv_column = 'customer_lifetime_value'  # Update this based on the printed column names

# Make sure the columns exist before proceeding
if claim_column in cleaned_df.columns and clv_column in cleaned_df.columns:
    high_claim_threshold = cleaned_df[claim_column].quantile(0.75)  # top 25%
    low_clv_threshold = cleaned_df[clv_column].quantile(0.25)  # bottom 25%

    print(f"High policy claim threshold (75th percentile): {high_claim_threshold}")
    print(f"Low customer lifetime value threshold (25th percentile): {low_clv_threshold}")
else:
    print(f"Error: One or both columns not found. Please check the column names.")

Available columns: ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']
Error: One or both columns not found. Please check the column names.

In [47]:
# Convert to numeric (coerce invalid values to NaN)
cleaned_df['customer_lifetime_value'] = pd.to_numeric(cleaned_df['customer_lifetime_value'], errors='coerce')
cleaned_df['total_claim_amount'] = pd.to_numeric(cleaned_df['total_claim_amount'], errors='coerce')

# Optional: fill any NaNs created after conversion (if any)
cleaned_df['customer_lifetime_value'].fillna(0, inplace=True)
cleaned_df['total_claim_amount'].fillna(0, inplace=True)

KeyError: 'customer_lifetime_value'